*, html, body, form, button{
    text-align: center;
}
body{
    width: 95%;
}
body, html {
    font-family: Inter,sans-serif;
  }
  span{
    color: rgb(86, 92, 105);
    font-family: Inter;
    font-size: 15px;
  }
  input{
    font-family: "Inter";
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: medium none;
    outline: none;
  }
  [role="button"], a, area, button, input:not([type="range"]), label, select, summary, textarea {

    touch-action: manipulation;

}
button, input {

    overflow: visible;

}

button, select {
    text-transform: none;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }
  [role="button"], a, area, button, input:not([type="range"]), label, select, summary, textarea {
    touch-action: manipulation;
  }
  button {
    margin-top: 10px;
    background-color: #ef2c59;
    border: initial;
    cursor: pointer;
    width: 90%;
    height: 40px;
    color: white;
    border-radius: 10px;
  }
  h2{
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: light;
  }
  p{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15.5px;
  }
  input{
    border: solid #b1adad 1px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 45px;
  }
  .space{
    margin-bottom: 200px;
  }
  form{
    top: 40px;
  }

  .container{
    margin-top: 18px;
  }
  

@media (min-width: 600px){
    body{
    width: 75%;
    margin-left: 300px;
}
}
  
