*, ::after, ::before {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
:root {
  --PhoneInput-color--focus: #03b2cb;
  --PhoneInputInternationalIconPhone-opacity: 0.8;
  --PhoneInputInternationalIconGlobe-opacity: 0.65;
  --PhoneInputCountrySelect-marginRight: 0.35em;
  --PhoneInputCountrySelectArrow-width: 0.3em;
  --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
  --PhoneInputCountrySelectArrow-borderWidth: 1px;
  --PhoneInputCountrySelectArrow-opacity: 0.45;
  --PhoneInputCountrySelectArrow-color: currentColor;
  --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
  --PhoneInputCountrySelectArrow-transform: rotate(45deg);
  --PhoneInputCountryFlag-aspectRatio: 1.5;
  --PhoneInputCountryFlag-height: 1em;
  --PhoneInputCountryFlag-borderWidth: 1px;
  --PhoneInputCountryFlag-borderColor: rgba(0,0,0,.5);
  --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
  --PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,.1);
}
:root {
  --primary-black: #191919;
  --secondary-black: #464646;
  --primary-pink: #ef2c5a;
  --alert-red: #f9123b;
  --orange-background: #fffbf7;
  --grey-text: #525252;
  --secondary-black-text: #222223;
}
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: hsla(0,0%,100%,.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
html {
  --antd-wave-shadow-color: #ef2c5a;
  --scroll-bar: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}
body, html {
  font-family: Inter,sans-serif;
}
span{
  color: rgb(86, 92, 105);
  font-family: Inter;
  font-size: 15px;
}
  @media (min-width: 768px)
{
.LzVQT {
  margin-bottom: 34px;
}
.LzVQT {
  font-family: "Athletics";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: rgb(25, 25, 25);
  margin-bottom: 25px;
}
.kJTptO {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  padding: 1rem 0rem;
  overflow: auto;
}
.emWXqD {
  height: 100%;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: min(376px, 100%);
}
.fGHSVp {
  width: 100%;
}
.chHcGZ {
  text-align: left;
  height: 70px;
  font-family: "Inter";
}
.jHlLPY {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
  height: 40px;
}
element {

}
.jHlLPY input {

    font-family: "Inter";
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: medium none;
    outline: none;

}
.chHcGZ input {

    border: medium none rgb(209, 209, 209);
    padding: 17px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgb(86, 92, 105);

}
[role="button"], a, area, button, input:not([type="range"]), label, select, summary, textarea {

    touch-action: manipulation;

}
button, input {

    overflow: visible;

}
button, input, optgroup, select, textarea {

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;

}
input {

    font-family: Inter,sans-serif;

}
.chHcGZ {
  text-align: left;
  height: 70px;
  font-family: "Inter";
}
.jHlLPY {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
  height: 40px;
}
.hvpGKB {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 8px;
  height: 100%;
}
.jHlLPY input {
  font-family: "Inter";
  padding: 8px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: medium none;
  outline: none;
}
[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button;
}
.hqCCLE {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 2px;
  right: 5px;
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: 5px;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
[role="button"], a, area, button, input:not([type="range"]), label, select, summary, textarea {
  touch-action: manipulation;
}
button {
  background-color: #fff;
  border: initial;
  cursor: pointer;
}
.hqCCLE svg {
  height: 20px;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
}
}
  @media (min-width: 768px){
.gWIhmn {
  padding-top: 38px;
}
.gWIhmn {
  padding-top: 32px;
}
.hRryTO:disabled {
  background-color: rgb(250, 191, 205);
}
.hRryTO {
  width: 100%;
  font-size: 12px;
  height: 40px;
  border: unset;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  outline: none;
  background: var(--primary-pink);
  color: rgb(255, 255, 255);
}
[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
[role="button"], a, area, button, input:not([type="range"]), label, select, summary, textarea {
  touch-action: manipulation;
}
button {
  background-color: #fff;
  border: initial;
  cursor: pointer;
}
  }
